* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.main {
    height: 100vh;
    width: 100%;
}

.title {
    padding: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
        padding: 5px;
}

.select {
    height: 5rem;
    background: black;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

select {
    font-size: 1.2rem;
    margin-top: 5px;
}

.flags {
    height: calc(100vh - 5rem);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}